/* Animation de défilement continu sans limitation temporelle */
.marqueeContent {
  display: inline-block;
  white-space: nowrap;
  animation: continuousScroll 30s linear infinite;
  animation-delay: 0s;
  padding-bottom: 0px;
  font-size: 4rem;
  color: #ffffffb7;
  font-weight: 400;
  z-index: 140;
}

@keyframes continuousScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Vitesse uniforme pour tous les défilements */
.marqueeContent {
  animation-duration: 30s;
}

.marqueeContent:nth-child(1) {
  animation-delay: 0s;
}

.marqueeContent:nth-child(2) {
  animation-delay: 15s;
}
